@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
	margin:0;
	color:#212431;
	background:url("img/CineVacio.jpg") ;
  background-repeat: no-repeat;
  background-size:cover;

	font:600 16px/18px 'Open Sans',sans-serif;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.conteiner{
  margin-top: 40px;
}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.login-html{
	width:100%;
	 
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgb(35 170 191)
}

@media (max-width: 400px) {
  .login-html {
    padding: 40px 25px 20px 25px;
  }
}

.label{
  margin-left: 20px;
}

.inputDNI{
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: rgb(255 255 255 / 75%);

  color: #070807;
  width: 130px;
}

.nombreCompleto{
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  
  margin-left: 5px;
  color: #070807;
  width: fit-content;
  flex-grow: 1;
}

.bloqued{
  background: rgba(209, 209, 209, 0.75);
}
.ready{
  background: rgb(159 255 129 / 75%)
}


.login-html .sign-in-htm,
.login-html .sign-up-htm{
	 
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}



.botonPrincipal{
   
  width:100%;
	color:rgb(255, 255, 255);
	 
  font-weight: 900;
  background:#2128a5;
  border:none;
	padding:15px 20px;
	border-radius:25px;
}
.botonPrincipal:hover{
  background-color: #2d35d1;
  
}

.div-no-tienes{
  margin-top: 20px;
  font-weight: 200;
}
.linkRegistrarme{
    
   font-weight: 900;

}
.linkRegistrarme:hover{
  color:#3138a9
}

.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#858cb873;
}
.login-form{
	 
	 
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}

.login-form .group .input{
  color:#070807;
  width:100%;
}


.login-form .group .label,
.login-form .group .button{
	width:100%;
	color:rgb(255, 255, 255);
	display:block;
  font-weight: 900;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgb(255 255 255 / 75%)
}
.login-form .group input[data-type="password"]{
	
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#070807;
	font-size:12px;
}
.login-form .group .button{
	background:#3138a9;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(0, 255, 0, 0.5);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#31a964;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(104, 19, 19, 0.2);
}
.foot-lnk{
	text-align:center;
}

/* UTILITIE */
.text-center{
  text-align: center;
}

.flex{
  display: flex;

}
.flex-grow{
  flex-grow: 1;
}
.w-100{
  width: 100%;
}
.form-control-undefined{
  background-color: red;
  
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('/img/espera.gif') 50% 50% no-repeat rgb(249,249,249);
  background-size: 10%;
  opacity: .8;
}
.hidden{
  display: none;
}